{% extends 'base_container.html' %}

{% load blocks %}
{% load tz %}

{% block content %}
    {#    content    #}
    <div class="row justify-content-center content-container article-container">
        <div class="col-8 gy-4">
            {#    title, subtitle    #}
            <div class="row text-center">
                <h1 class="article-title">{{ article.title }} </h1>
                <p class="fs-1 article-title">{{ article.subtitle }}</p>
            </div>
            {#    article meta: publication date, author and tag    #}
            <div class="row text-center justify-content-center">
                <small class="text-muted">
                    <a href="{% url 'article_list' %}?date={{  article.created|date:'Y-m-d' }}" class="text-muted">
                        {{ article.created|timezone:"Europe/Moscow" }}</a>
                    &ensp;•&ensp;Автор:
                    <a href="{% url 'user_profile_detail' pk=article.author.id %}" class="text-muted">
                        {{ article.author.username }}</a>
                    {% if article.tag %}
                        &ensp;•&ensp;
                        <a href="{% url 'article_list' %}?tag={{  article.tag.name }}">
                            <span class="badge bg-secondary align-middle">{{  article.tag.name }}</span>
                        </a>
                    {% endif %}
                </small>
            </div>
        </div>
        {#    editing/moderating panel    #}
        {% if not article.active %}
            {% if article.author == request.user or perms.app_news.can_publish_article %}
                <div class="col-8 gy-4">
                    <div class="row justify-content-center">
                        {#    edit button    #}
                        <div class="col-2">
                            <a class="btn btn-outline-dark btn-sm btn-shadow" href="{% url 'edit_article' article.id %}">Редактировать</a>
                        </div>
                        {#   publicate button   #}
                        {% if perms.app_news.can_publish_article %}
                            <div class="col-2">
                                <a class="btn btn-outline-dark btn-sm btn-shadow" href="{% url 'publish_article' article_id=article.id %}">Опубликовать</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="col-8 gy-4">
                <div class="row justify-content-center">
                    {#   cancel publication button   #}
                    {% if perms.app_news.can_publish_article %}
                        <div class="col-3 text-center">
                            <a class="btn btn-outline-dark btn-sm btn-shadow" href="{% url 'cancel_publishing_article' article_id=article.id %}">Снять с публикации</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {#    picture    #}
        <div class="col-12 gy-4 title-image-container">
            <img src="{{ article.image.url }}" class="title-image" alt="...">
        </div>

        {#    article body    #}
        <div class="col-6 gy-4">
            <div class="row fs-5">
                {{ article.body|linebreaks }}
            </div>
        </div>

        {#    comments section   #}
        <div class="row justify-content-center">
            <div class="col-6 gy-5">


                {#    comment form   #}
                <h1>Комментировать</h1>
                {% comment_form comment_form %}


                {#    comments list   #}
                {% for comment in comments %}
                    <div class="row justify-content-center">
                        <div class="card col gy-4" id="comment_{{ comment.id }}">
                            <div class="card-body">
                                {% if comment.user == None %}
                                    {#    anonymous comment, adding annon badge   #}
                                    <div class="card-title">
                                        <span class="h5 card-title align-middle">{{ comment.username }}</span>
                                        <span class="badge bg-secondary mx-1 align-middle">Аноним</span>
                                    </div>
                                {% else %}
                                    {#    registered user comment   #}
                                    <div class="card-title">
                                        <span class="h5 card-title align-middle">{{ comment.user.username }}</span>
                                    </div>
                                {% endif %}
                                <p class="card-text">{{ comment.body }}</p>
                                <p class="card-text text-end"><small class="text-muted">
                                    {{ comment.created|timezone:"Europe/Moscow" }}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}