{% load staticfiles %}
{% load tz %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'app_news/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app_news/css/news_styles.css' %}">

    <title>MetaNews</title>
</head>
<body class="bg-dark">

<div class="container-md bg-dark ">
    {#    navbar    #}
    <div class="row bg-dark">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand mb-0 h1" href="{% url 'article_list' %}">
                        <img src="{% static 'app_news/img/logo.svg' %}" alt="" width="30" height="24"
                             class="d-inline-block align-text-top logo-shadow">
                        MetaNews
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" aria-current="page" href="{% url 'article_list' %}">На главную</a>
                            <a class="nav-link" href="{% url 'add_article' %}">Предложить новость</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    {#    content    #}
    <div class="row justify-content-center content-container article-container">
        {#    title and date    #}
        <div class="col-8 gy-4">
            <div class="row text-center">
                <h1 class="article-title">{{ article.title }} </h1>
                <p class="fs-1 article-title">{{ article.subtitle }}</p>
            </div>
            <div class="row text-center">
                <p><small class="text-muted">{{ article.created|timezone:"Europe/Moscow" }}</small></p>
            </div>
        </div>

        {#    picture    #}
        <div class="col-12 title-image-container">
            <img src="{{ article.image.url }}" class="title-image" alt="...">
        </div>

        {#    article body    #}
        <div class="col-6 gy-4">
            <div class="row fs-5">
                {{ article.body|linebreaks }}

            </div>
        </div>

        {#    comments section   #}
        <div class="row justify-content-center">
            <div class="col-8 gy-5">
                <h1>Комментировать</h1>

                {#    comment form   #}
                <div class="row justify-content-center">

                    <div class="col-8 gy-2">
                        <form method="post">
                            {% csrf_token %}
                            {# all form errors #}
                            {% if comment_form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in comment_form.non_field_errors %} {{ error }} <br> {% endfor %}
                                </div>
                            {% endif %}

                            {# username #}
                            <p class="form-floating form-p">
                                {{ comment_form.username }}
                                <label for="{{ comment_form.username.id_for_label }}">Имя пользователя</label>
                            </p>
                            {% if comment_form.username.errors %}
                                <div class="alert alert-danger alert-field" role="alert">
                                    {% for error in comment_form.username.errors %} {{ error }} <br> {% endfor %}
                                </div>
                            {% endif %}

                            {# comment body #}
                            <p class="form-floating form-p">
                                {{ comment_form.body }}
                                <label for="{{ comment_form.body.id_for_label }}">Комментарий</label>
                            </p>
                            {% if comment_form.body.errors %}
                                <div class="alert alert-danger alert-field" role="alert">
                                    {% for error in comment_form.body.errors %} {{ error }} <br> {% endfor %}
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-primary col-12">Отправить</button>
                        </form>

                    </div>
                </div>

                {#    comments list   #}
                {% for comment in comments %}
                    <div class="row justify-content-center">
                        <div class="card col-8 gy-4" id="comment_{{ comment.id }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.username }}</h5>
                                <p class="card-text">{{ comment.body }}</p>
                                <p class="card-text text-end"><small class="text-muted">
                                    {{ comment.created|timezone:"Europe/Moscow" }}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>