{% extends 'app_news/base_news.html' %}

{% load blocks %}
{% load tz %}

{% block content %}
    {#    content    #}
    <div class="row justify-content-center content-container article-container">
        {#    title and date    #}
        <div class="col-8 gy-4">
            <div class="row text-center">
                <h1 class="article-title">{{ article.title }} </h1>
                <p class="fs-1 article-title">{{ article.subtitle }}</p>
            </div>
            <div class="row text-center">
                <p><small class="text-muted">{{ article.created|timezone:"Europe/Moscow" }}</small></p>
            </div>
        </div>

        {#    picture    #}
        <div class="col-12 title-image-container">
            <img src="{{ article.image.url }}" class="title-image" alt="...">
        </div>

        {#    article body    #}
        <div class="col-6 gy-4">
            <div class="row fs-5">
                {{ article.body|linebreaks }}
            </div>
        </div>

        {#    comments section   #}
        <div class="row justify-content-center">
            <div class="col-8 gy-5">
                <h1>Комментировать</h1>

                {#    comment form   #}
                <div class="row justify-content-center">
                    <div class="col-8 gy-2">
                        {% comment_form comment_form %}
                    </div>
                </div>

                {#    comments list   #}
                {% for comment in comments %}
                    <div class="row justify-content-center">
                        <div class="card col-8 gy-4" id="comment_{{ comment.id }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.username }}</h5>
                                <p class="card-text">{{ comment.body }}</p>
                                <p class="card-text text-end"><small class="text-muted">
                                    {{ comment.created|timezone:"Europe/Moscow" }}</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}