<form method="post">
    {% csrf_token %}
    {# all form errors #}
    {% if comment_form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in comment_form.non_field_errors %} {{ error }} <br> {% endfor %}
        </div>
    {% endif %}

    {# username #}
    <p class="form-floating form-p">
        {{ comment_form.username }}
        <label for="{{ comment_form.username.id_for_label }}">Имя пользователя</label>
    </p>
    {% if comment_form.username.errors %}
        <div class="alert alert-danger alert-field" role="alert">
            {% for error in comment_form.username.errors %} {{ error }} <br> {% endfor %}
        </div>
    {% endif %}

    {# comment body #}
    <p class="form-floating form-p">
        {{ comment_form.body }}
        <label for="{{ comment_form.body.id_for_label }}">Комментарий</label>
    </p>
    {% if comment_form.body.errors %}
        <div class="alert alert-danger alert-field" role="alert">
            {% for error in comment_form.body.errors %} {{ error }} <br> {% endfor %}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary col-12">Отправить</button>
</form>