{% extends 'base_container.html' %}
{% load i18n %}

{% block content %}
    <div class="row justify-content-center content-container">
        <div class="col-8 gy-4">
            <div class="row text-center">
                <h1>
                    {% blocktrans %}{{ request.user.username }}'s profile{% endblocktrans %}
                </h1>
            </div>
        </div>
        {% if profile_is_saved %}
            <div class="col-8 gy-2">
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-check-fill flex-shrink-0 me-2" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <div>
                        {% trans 'Profile succesfully saved' %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-8 gy-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {# all form errors #}
                {% if profile.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in profile.non_field_errors %} {{ error }} <br> {% endfor %}
                    </div>
                {% endif %}

                {# avatar #}
                <p class="form-p">
                    <label for="{{ profile.avatar.id_for_label }}" class="form-label"><b>{{ profile.avatar.label }}</b></label>
                    {{ profile.avatar }}
                </p>
                {% if profile.avatar.errors %}
                    <div class="alert alert-danger alert-field" role="alert">
                        {% for error in profile.avatar.errors %} {{ error }} <br> {% endfor %}
                    </div>
                {% endif %}

                {# first name #}
                <p class="form-floating form-p">
                    {{ profile.first_name }}
                    <label for="{{ profile.first_name.id_for_label }}">{{ profile.first_name.label }}</label>
{#                    {% if not profile.first_name.errors %}#}
{#                        <small class="text-muted mx-2">{{ profile.first_name.help_text }}</small>#}
{#                    {% endif %}#}
                </p>
                {% if profile.first_name.errors %}
                    <div class="alert alert-danger alert-field" role="alert">
                        {% for error in profile.first_name.errors %} {{ error }} <br> {% endfor %}
                    </div>
                {% endif %}

                {# last name #}
                <p class="form-floating form-p">
                    {{ profile.last_name }}
                    <label for="{{ profile.last_name.id_for_label }}">{{ profile.last_name.label }}</label>
{#                    {% if not profile.last_name.errors %}#}
{#                        <small class="text-muted mx-2">{{ profile.last_name.help_text }}</small>#}
{#                    {% endif %}#}
                </p>
                {% if profile.last_name.errors %}
                    <div class="alert alert-danger alert-field" role="alert">
                        {% for error in profile.last_name.errors %} {{ error }} <br> {% endfor %}
                    </div>
                {% endif %}

                {# about #}
                <p class="form-floating form-p">
                    {{ profile.about }}
                    <label for="{{ profile.about.id_for_label }}">{{ profile.about.label }}</label>
{#                    {% if not profile.about.errors %}#}
{#                        <small class="text-muted mx-2">{{ profile.about.help_text }}</small>#}
{#                    {% endif %}#}
                </p>
                {% if profile.about.errors %}
                    <div class="alert alert-danger alert-field" role="alert">
                        {% for error in profile.about.errors %} {{ error }} <br> {% endfor %}
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary col-12">{% trans 'Save' %}</button>
            </form>
        </div>
    </div>
{% endblock content %}