<body style="font-family: sans-serif;">
<h2>Прошел все курсы на SkillBox. Продаю готовые домашние задания</h2>
<ul>
    <li><a href="/adv_details?adv=python">Профессия Python-разработчик</a></li>
    <li><a href="/adv_details?adv=1c">Профессия 1С-разработчик</a></li>
    <li><a href="/adv_details?adv=web">Профессия Веб-разработчик</a></li>
    <li><a href="/adv_details?adv=java">Профессия Java-разработчик</a></li>
    <li><a href="/adv_details?adv=android">Профессия Android-разработчик</a></li>
</ul>
</body>